*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: border-box;
}

body{
    background-color: #b6957b;
}

a{
    text-decoration: none;
}

.mobile{
    background-color: #f4f4f4;
    border-radius: 12px;
    margin: 100px auto;
    width: 400px;
    height: 600px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.content{
    padding: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.form__auth{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.text-field_floating {
    position: relative;
}

.text-field_floating .text-field__input {
    line-height: 1.25;
    padding: 1rem 0.75rem;
}

.text-field_floating .text-field__label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 1rem .75rem;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity .15s ease-in-out, transform .15s ease-in-out;
}

.text-field_floating .text-field__input::-moz-placeholder {
    color: transparent;
}

.text-field_floating .text-field__input::placeholder {
    color: transparent;
}

.text-field_floating .text-field__input:focus,
.text-field_floating .text-field__input:not(:placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: .625rem;
}

.text-field_floating .text-field__input:focus~.text-field__label,
.text-field_floating .text-field__input:not(:placeholder-shown)~.text-field__label {
    opacity: .65;
    transform: scale(.85) translateY(-.75rem) translateX(.15rem);
}

.content input{
    width: 100%;
    border-radius: 4px;
    border: 1px solid gray;
}

.content input::placeholder{
    font-size: 14px;
    color: #3e3f44;
    opacity: 0.7;
}

.content input:focus{
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(182 149 123 / 56%);
}

.btn-group{
    display: flex;
    margin: 10px 0;
}

.btn-primary{
    cursor: pointer;
    margin-left: auto;
    background-color: #a78265;
    color: white;
    letter-spacing: 0.7px;
    font-weight: 600;
    font-size: .875rem;
    padding: 12px 26px;
    border-radius: 4px;
    border: none;
}

.btn-primary:hover{
    background-color: rgb(145, 102, 63);
    transition: 0.25s;
}

.create{
    letter-spacing: 0.7px;
    font-weight: 600;
    font-size: .875rem;
    align-self: center;
    color: #757575;
}

.form__container{
    padding: 0.15rem;
    display: flex;
    flex-direction: column;
    grid-gap: 0.55rem;
    overflow: auto;
    flex: 1 1;
}

.title__auto{
    text-align: center;
    margin-bottom: 1.5rem;
}

.title__auto h3{
    text-transform: uppercase;
    color: #6e523c;
    letter-spacing: 0.7px;
    font-weight: 800;
}

@media (max-width: 600px) {
    .mobile{
        margin: 40px auto;
    }
}

@media (max-width: 500px) {
    .mobile{
        margin: 40px auto 0 auto;
        width: 300px;
        height: 400px;
    }
}